<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li >
            <a href="sms:18601860186?body=约吗？" class="">
                <span class="am-icon-bell"></span>
                <span class="am-navbar-label">消息</span>
            </a>
        </li>
        <li >
            <a href="tel:18601860186" class="">
                <span class="am-icon-flash"></span>
                <span class="am-navbar-label">呼叫</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/share.png" alt="分享"/>
                <span class="am-navbar-label">分享</span>
            </a>
        </li>
        <li >
            <a href="http://yunshipei.com" class="">
                <img src="http://amazeui.b0.upaiyun.com/assets/i/cpts/navbar/map.png" alt="地图"/>
                <span class="am-navbar-label">地图</span>
            </a>
        </li>
    </ul>
</div>
