<!--<blockquote>-->
    <!--<p>啊哦，你请求的页面不存在。请确定访问正确的路径！</p>-->
    <!--<small>XINCONAN</small>-->
<!--</blockquote>-->
<style>
    .page-404 {
        background: #fff;
        border: none;
        width: 200px;
        margin: 0 auto;
    }
</style>
<div class="admin-content-body">

    <div class="am-g">
        <div class="am-u-sm-12">
            <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
            <p class="am-text-center">没有找到你要的页面</p>
        <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
        </div>
    </div>
</div>